<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFcpsUserManager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:18882/FcpsUserManagerService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFcpsUserManager"
                contract="ServiceReference.IFcpsUserManager" name="BasicHttpBinding_IFcpsUserManager" />
        </client>
    </system.serviceModel>
</configuration>